.wrapper {
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    padding: 2rem; 
    box-sizing: border-box;
  
    a {
      position: relative;
      border-left: 1rem;
      font-size: large;
      text-decoration: none;
      font-weight: 300;
      color: black;
  
      &.active {
        font-weight: 900;
      }
    }

    h1 {
      position: absolute;
      left: 1.5rem;
      font-family: 'Courgette', cursive;
      font-size: 3.3rem;

    
      @media (max-width: 360px) {
        font-size: 2rem;
      }
    
      @media (min-width: 361px) and (max-width: 768px) {
        font-size: 2.1rem;
      }
    
      @media (min-width: 769px) and (max-width: 1024px) {
        font-size: 2rem;
      }
    
      @media (min-width: 1025px) and (max-width: 1280px) {
        font-size: 3.2rem;
      }
    
      @media (min-width: 1281px) {
        font-size: 3.3rem;
      }
    }
  }