@keyframes glow {
  from {
      box-shadow: 0px 4px 10px rgba(60, 130, 246, 0.5);
  }
  to {
      box-shadow: 0px 4px 20px rgba(60, 130, 246, 1);
  }
}
.wrapper {
    width: 100%;
    border-bottom: 1px solid #F5F7F8;
    padding: 2rem; 
    box-sizing: border-box;
    box-shadow: 0px 4px 20px rgba(60, 130, 246, 0.75); /* Stronger glow */
    animation: glow 2s infinite alternate;
  
    a {
      position: relative;
      border-left: 2rem;
      font-size: large;
      text-decoration: none;
      font-weight: 300;
      color: black;
  
      &.active {
        font-weight: 900;
      }
    }

    a:hover{
      color: #000;
      background-color: #F5F7F8;
      box-shadow: inset 0px 2px 4px #3C82F6, 
                  inset 0px 4px 8px #3C82F6, 
                  inset 0px 8px 16px #3C82F6;
      transition: 0.2s;
      transform: translateY(2px);
    }

    h1 {
      position: absolute;
      left: 1.5rem;
      font-family: 'Courgette', cursive;
      font-size: 3.3rem;

    
      @media (max-width: 360px) {
        font-size: 2rem;
      }
    
      @media (min-width: 361px) and (max-width: 768px) {
        font-size: 2.1rem;
      }
    
      @media (min-width: 769px) and (max-width: 1024px) {
        font-size: 2rem;
      }
    
      @media (min-width: 1025px) and (max-width: 1280px) {
        font-size: 3.2rem;
      }
    
      @media (min-width: 1281px) {
        font-size: 3.3rem;
      }
    }
  }