.wrapper {
    width: 100%;
  
    border-bottom: 1px solid var(--border-color);
  
    padding: 2rem;
  
    box-sizing: border-box;
  
    a {
      font-size: large;
      text-decoration: none;
      font-weight: 300;
      color: black;
  
      &.active {
        font-weight: 900;
      }
    }

    h1 {
      position: absolute;
      left: 2rem;
      font-family: 'Courgette', cursive;
      font-size: 3.3rem;
    }
  
    .logo {
      height: 100%;
      object-fit: contain;
  
      height: 2rem;
  
      margin-right: auto;
    }
  }